*{
    margin: 0;
    padding: 0;
    font-family: 'Familjen Grotesk';
}

@media (min-width:320px){
    .background-color-index
{
    background-color:#63afb7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo
{
    display: flex;
    align-items: center;
}
.logo1
{
    border-radius: 50%;
    width: 35rem;
    height: 35rem;
    padding: 3rem;
}
.navegable
{
display: flex;
justify-content: space-around;
}

a{
    text-decoration:none;
}

.lista_inicio
{
    border: solid white 3px;
    border-radius: 5px;
    width: 450px;
    margin: 10px;
    padding-bottom: 7px;
    text-align: center;
}
.navegable1
{
    background-color: 63afb7; 
    border-color: aliceblue;
    border-radius: 20px;
    font-family: 'Familjen Grotesk', sans-serif;
color: aliceblue;
margin: 5rem;
padding: 5rem;
border: 1rem;
border-color: white;

   

}

.background-color-planes
 {
    background-color: #e6eeef;
    font-family: 'Carrois Gothic', sans-serif;
    color: black;
    text-align: center;
    font-size: 70px;
   
 }

 .background-color-turno
 {
    background-color: #bbc383    ;
    
 }

 .turnos
 {
    font-family: 'Carrois Gothic', sans-serif;;
    font-size: 80px;
    color: black;
 }
.contacto 
{
    color: aliceblue;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 50px;
}
.background-color4
{
     background-color:#324370;;
}
ul
{
    list-style: none;
    padding-left: 0px;
}

.background-color-nosotros
{
    background-color: #f5f5ef;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.font-size-nosotros-titulo
{
    font-size: 50px;
}
.font-size-nosotros-subtitulo
{
    font-size: 40px;
}
.font-size-nosotros-texto
{
    font-size: 40px;
}
.background-white
{
    background-color:  white;
}

.imagen1
{
    margin-top: 7rem;
    width:40%;
    height: 30%;
}
.articulo
{
    margin: 8rem 2rem 0 2rem;

}
.planes {
display: flex;
justify-content: space-around;
}
.div-planes-1{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.div-planes-2{
    margin-top: 17rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.div-planes-3
{
    margin-top: 24rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.circulo-planes {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #63afb7;
    display: flex;
    justify-content: center;
   
   
}
.fondo{
    background-color: #e6eeef;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.turnos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.lista{
    display: flex;
    flex-direction: column;
    font-size: 130%;
}
.lista1{
    display: flex;
    flex-direction: column;
}
}


@media (min-width:720px){
.background-color-index
{
    background-color:#63afb7
    ;
    display: flex;
    flex-direction: row;
}
.logo
{
    margin-left: 7rem;
}
.logo1
{
    border-radius: 50%;
    width: 35rem;
    height: 35rem;
    padding: 3rem;
}
.navegable
{
display: flex;
justify-content: space-around;
}

a{
    text-decoration:none;
}

.lista_inicio
{
    border: solid white 3px;
    border-radius: 5px;
    width: 450px;
    margin: 10px;
    padding-bottom: 7px;
    text-align: center;
}
.navegable1
{
    background-color: 63afb7; 
    border-color: aliceblue;
    border-radius: 20px;
    font-family: 'Familjen Grotesk', sans-serif;
color: aliceblue;
margin: 5rem;
padding: 5rem;
border: 1rem;
border-color: white;

   

}

.background-color-planes
 {
    background-color: #e6eeef;
    font-family: 'Carrois Gothic', sans-serif;
    color: black;
    text-align: center;
    font-size: 70px;
   
 }

 .background-color-turno
 {
    background-color: #bbc383    ;
    
 }

 .turnos
 {
    font-family: 'Carrois Gothic', sans-serif;;
    font-size: 80px;
    color: black;
 }
.contacto 
{
    color: aliceblue;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 50px;
}
.background-color4
{
     background-color:#324370;;
}
ul
{
    list-style: none;
   
}
.listacolor
{
    color: white;
    text-align: center;
    font-size: 50px;
    display: flex;
 
    
    flex-direction: column;
    justify-content: space-around!important;
}

.background-color-nosotros
{
    background-color: #f5f5ef;
    display: flex;
    flex-direction: row;
}
.font-size-nosotros-titulo
{
    font-size: 50px;
}
.font-size-nosotros-subtitulo
{
    font-size: 40px;
}
.font-size-nosotros-texto
{
    font-size: 40px;
}
.background-white
{
    background-color:  white;
}

.imagen1
{
    margin-top: 7rem;
    width:40%;
    height: 30%;
}
.articulo
{
    margin: 8rem 2rem 0 2rem;

}
.planes {
display: flex;
justify-content: space-around;
}
.div-planes-1{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.div-planes-2{
    margin-top: 17rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.div-planes-3
{
    margin-top: 24rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.circulo-planes {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #63afb7;
    display: flex;
    justify-content: center;
   
   
}
.fondo{
    background-color: #e6eeef;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.turnos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inicio{
    display: flex;
    flex-direction: row;
    align-items: center;
   
}

.lista{
    display: flex;
    flex-direction: column;
    font-size: 130%;
}
}